@import '~bootstrap/scss/bootstrap.scss';

$primary: SeaGreen;
$body-bg: Honeydew;

body {
    background-image: linear-gradient(
        to right, 
        rgba(255, 255, 255, 0),
        rgba(226, 51, 71, 0.6),
        rgba(226, 51, 71, 0.6),
        rgba(226, 51, 71, 0.6),
        rgba(226, 51, 71, 0.6),
        rgba(226, 51, 71, 0.6),
        rgba(226, 51, 71, 0.6),
        rgba(226, 51, 71, 0.6),
        rgba(226, 51, 71, 0.6),
        rgba(226, 51, 71, 0.6),
        rgba(226, 51, 71, 0.6),
        rgba(255, 255, 255, 0),
    );

    overflow-x: hidden;
}

